extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/album.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
block content
    div.albumBackground
        img(src=album.images[0].resource_url)
    div.albumCard
        div(class='albumImg')
            img(src=album.images[0].resource_url)
        div(class='albumInfo')
            div(class='albumTitle')
                h1= `${album.title}`
            div(class='albumArtist')
                h3= `By ${album.artists[0].name}`
            div(class='genre')
                h3=`Genre: ${album.genres[0]}`
            div(class='releaseDate')
                h3=`Release Date: ${album.year}`
            if locals.authenticated
                form(action=`/reviews/albums/${album.id}` method="get" class="reviewForm")
                    button( type="submit" class="reviewButton") Add a Review
    div(class='songs')
        .songsHeader Tracklist
        each song in album.tracklist
            div.songInfo
                div.songTitle #{song.position}.  #{song.title}
                div.songDuration #{song.duration}
    if album.videos
        div.video
            .videosHeader Music Videos
            .videoContainer
                .videoScroll
                    each video in album.videos
                        .videoDiv
                            div.videoTitle #{video.title}
                            iframe(width="420" height="315" src=`https://www.youtube.com/embed/${video.uri.slice(32)}`)
    if reviews.length > 0
        div.reviews-title= `Reviews`
        div(class='review-container')
            each review in reviews
                div.user-review
                    div.review-data-comment-username
                        div.review-username= `${review.User.username}`
                        div.review-date= `${review.updatedAt.toString().slice(4,15)}`
                    div.review-comment= `\"${review.comment}\"`
                    div.review-rating= `${review.rating} / 10`
            //- table
            //-     thead
            //-         tr
            //-             th UserName
            //-             th Comment
            //-             th Rating
            //-     tbody
            //-         each review in reviews
            //-             tr
            //-                 td= `${review.User.username}`
            //-                 td= `${review.comment}`
            //-                 td= `${review.rating}`
