extends layout.pug

block head
    link(rel="stylesheet", href="/stylesheets/index.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)


block content
        //- div.genres
        //-     each genre in genres
        //-         a(href=`/genres/${genre.id}`)
        //-             div(class="genresList" id=`picture-${genre.name}`) #{genre.name}
        h3.top-owned-h3 Top 10 Owned Albums
        div(class='Albums')
            each album in albums
                div(class="topAlbumList")
                    a(href=`/albums/${album.id}`)
                        img(src=`${album.imgSrc}`)
        div(class="spacerDiv")
            div(class='recentReviews')
                    h3.reviews-header Most Recent Reviews
                    div.review-container
                        each review in reviews
                            div.user-review
                                div.review-img-div
                                    a(href=`/albums/${review.Album.id}`)
                                        img(class="reviewImg" src=`${review.Album.imgSrc}`)
                                div.review-data
                                    div.review-data-comment-username
                                        div.review-username= `${review.User.username}`
                                        div.review-date= `${review.updatedAt.toString().slice(4,15)}`
                                    div.review-comment= `\"${review.comment}\"`
                                    div.review-rating= `${review.rating} / 10`
    block content
