extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/index.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)


block content
    div(class="bodyContainer")
        div.genres
            each genre in genres
                a(href=`/genres/${genre.id}`)
                    div(class="genresList" id=`picture-${genre.name}`) #{genre.name}
        h3 Top 10 Owned Albums
        div(class='Albums')
            each album in albums
                div(class="topAlbumList")
                    a(href=`/albums/${album.id}`)
                        img(src=`${album.imgSrc}`)
        div(class="spacerDiv")
            div(class='recentReviews')
                    h3.reviews-header Most Recent Reviews
                    div.review-container
                        each review in reviews
                            div.user-review
                                div.review-img-div
                                    a(href=`/albums/${review.Album.id}`)
                                        img(class="reviewImg" src=`${review.Album.imgSrc}`)
                                div.review-data
                                    div.review-data-comment-username
                                        div.review-comment= `\"${review.comment}\"`
                                        div.review-username= `-${review.User.username}`
                                    div.review-rating= `${review.rating} / 10`
