extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/index.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)

block content
    h1= title
    p Welcome to your Project Skeleton
    div(class="bodyContainer")
        div(class='Albums')
            table(class='albumTable')
                thead
                tr
                    th Most Owned Albums

                tbody
                    each album in albums
                        tr
                        td
                            a(href=`/albums/${album.id}`)
                            img(src=`${album.imgSrc}`)
        div(class="spacerDiv")
        div(class='recentReviews')
                h3(class='reviewsH3') Most Recent Reviews
                table
                    thead
                        tr
                            th Album
                            th UserName
                            th Comment
                            th Rating
                    tbody
                        each review in reviews
                            tr
                                td
                                    a(href=`/albums/${review.Album.id}`)
                                        img(class="reviewImg" src=`${review.Album.imgSrc}`)
                                td= `${review.User.username}`
                                td= `${review.comment}`
                                td= `${review.rating}`
