extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/review.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
block content
    h1( class='title' )=`Add a review for: ${album.title} by ${album.artist}`
    div(class='imgContainer')
        img( src=`${album.imgSrc}` class='reviewImg')
    if errors
     div(class="mainErrContainer")
        div(class="errorsContainer")
            ul(class="errorsUl")
                each error in errors
                    li(class="errorsLi")=error
    form( class='reviewForm' action=`/reviews/albums/${album.id}` method='post')
        input(type="hidden" name='_csrf' value=csrfToken)
        div(class='comment')
            label(for="comment" class='reviewComment') Comment:
            textarea(class="reviewArena" name="comment" maxlength='255' value=comment )
        div(class='rating' class="reviewRating")
            label(for='rating' class='reviewLabel') Rating 1/10:
            input(type='number' class='reviewInput' name='rating' value=rating)
        div
            button(class='reviewButton' type='submit') Submit
