extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/shelf.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
block scripts
    script(type='module' src='/javascripts/shelfDetail.js')

block content
    h3(class="shelfName") #{shelf.name} Shelf
    form(class="updateForm"  id=`${shelf.id}`)
        label(class='name-label' for="name") Edit Shelf Name
        input(type="text" name="name" class="updateInput")
        button(type="submit" class="updateButton") Save
    table
        thead
            tr
                th Image
                th Title
                th Artist
                th Release Date
                th Remove
                th Listened To
        tbody
            each album in albums
                tr
                    td
                        a(href=`/albums/${album.id}`)
                            img(src=`${album.imgSrc}`)
                    td: a(href=`/albums/${album.id}`) #{album.title}
                    td= `${album.artist}`
                    td= `${album.releaseDate}`
                    td
                        form(class='remove-button' action=`/shelves/remove/${shelf.id}/${album.id}` method='post')
                            input(type="hidden" name="_csrf" value= csrfToken)
                            button(type='submit') remove
                    td
                        if !album.listenedTo
                            div.listenedDiv
                                form(action=`/shelves/listenedTo/${album.id}` method=`post`)
                                    input(type="hidden" name="_csrf" value= csrfToken)
                                    label(for='listenedTo') listened To
                                    input(class='listened-checkbox' type='checkbox' name='listenedTo' value=true unchecked)
                                    button(class='listened-button' type='submit') save
                        else
                            p listened
