extends layout.pug
block scripts
    script(type='module' src='/javascripts/shelfDetail.js')

block content
    h3 #{shelf.name}
    form(action=`/shelves/update/${shelf.id}` method="post")
        input(type="hidden" name="_csrf" value= csrfToken)
        label(for="name") New Name
        input(type="text" name="name")
        button(type="submit") Save
    form(action=`/shelves/${shelf.id}` method="post" )
        input(type="hidden" name="_csrf" value= csrfToken)
        button(type="submit") Delete
    table
        thead
            tr
                th Image
                th Title
                th Artist
                th Release Date
                th Listened To
        tbody
            each album in albumList
                tr
                    td
                        a(href=`/albums/${album.Album.id}`)
                            img(src=`${album.Album.imgSrc}`)
                    td: a(href=`/albums/${album.Album.id}`) #{album.Album.title}
                    td= `${album.Album.artist}`
                    td= `${album.Album.releaseDate}`
                    td
                        form(action=`/shelves/remove/${album.id}` method='post')
                            input(type="hidden" name="_csrf" value= csrfToken)
                            button(type='submit') remove
                    td
                        if !album.listenedTo
                            form(action=`/shelves/listenedTo/${album.id}` method=`post`)
                                input(type="hidden" name="_csrf" value= csrfToken)
                                label(for='listenedTo') listened To
                                input(type='checkbox' name='listenedTo' value=true unchecked)
                                button(type='submit') save
                        else
                            p listened
