extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/shelf.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
block scripts
    script(type='module' src='/javascripts/shelfDetail.js')

block content
    h3(class="shelfName") #{shelf.name}
    form(class="updateForm"  id=`${shelf.id}`)
        label(for="name") New Name
        input(type="text" name="name" class="updateInput")
        button(type="submit" class="updateButton") Save
    table
        thead
            tr
                th Image
                th Title
                th Artist
                th Release Date
                th Remove
                th Listened To
        tbody
            each album in albumList
                tr
                    td
                        a(href=`/albums/${album.Album.id}`)
                            img(src=`${album.Album.imgSrc}`)
                    td: a(href=`/albums/${album.Album.id}`) #{album.Album.title}
                    td= `${album.Album.artist}`
                    td= `${album.Album.releaseDate}`
                    td
                        form(action=`/shelves/remove/${album.id}` method='post')
                            input(type="hidden" name="_csrf" value= csrfToken)
                            button(type='submit') remove
                    td
                        if !album.listenedTo
                            form(action=`/shelves/listenedTo/${album.id}` method=`post`)
                                input(type="hidden" name="_csrf" value= csrfToken)
                                label(for='listenedTo') listened To
                                input(type='checkbox' name='listenedTo' value=true unchecked)
                                button(type='submit') save
                        else
                            p listened
