extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/shelves-detail.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
block scripts
    script(type='module' src='/javascripts/shelvesDetail.js')
block content
    form( class='createShelfForm' id=`${userId}`)
        input(type="hidden" name="_csrf" value= csrfToken)
        label(class='shelfNameLabel') Shelf Name:
        input(type="text" name="name" class='shelfNameInput')
        button(type="submit" class='shelfNameButton') Create Shelf
    h1 My Shelves
    div.shelfItems
        each shelf in shelves
            div(class=`shelf-${shelf.id} myShelf`)
                a(class='shelfATag' href=`/shelves/${shelf.id}`) #{shelf.name}
                div(class=`shelf-${shelf.id}`).shelf-info
                    each album in shelf.dataValues.Albums
                        div(class='album')
                            a(href=`/albums/${album.id}`)
                                img(src=`${album.dataValues.imgSrc}`)
                button(class=`deleteShelfButton` id=`${shelf.id}`) Delete

    h1 My Reviews
    div(class='reviews')
        table
            thead
                tr
                    th Album
                    th Artist
                    th Comment
                    th Rating
                    th Edit Review
                    th Delete Review
            tbody
                each review in reviews
                    tr
                        td= `${review.Album.title}`
                        td= `${review.Album.artist}`
                        td= `${review.comment}`
                        td= `${review.rating}`
                        td
                            form(action=`/reviews/edits/${review.id}` method='post')
                                input(type="hidden" name="_csrf" value= csrfToken)
                                input(type="text" name="comment" value=`${review.comment}`)
                                input(type="number" name="rating" value=`${review.rating}`)
                                button(type="submit") Save
                        td
                            form(action=`/reviews/delete/${review.id}` method='post')
                                input(type="hidden" name="_csrf" value= csrfToken)
                                button(type="submit") Delete

//- method="post" action=`/shelves/users/${userId}`
